.App {
  text-align: center;
  background: #000;
}

@media all and (max-width: 912px){
 .App{
  width: 120%;
  height: 150%;
 }
}

@media all and (max-width: 820px){
  .App{
    width: 125%;
  }
}

 @media all and (max-width: 768px){
  .App{
    width: 150%;
     
  }
 }

 @media all and (max-width: 414px){
  .App{
    width: 190%;
  }
 }

 @media all and (max-width: 380px){
  .App{
    width: 210%;
  }
 }
  
 @media all and (max-width: 360px){
  .App{
    width: 213%;
  }
 }

 @media all and (max-width: 320px){
  .App{
    width: 240%;
  }
 }

 @media all and (max-width: 280px){
  .App{
    width: 285%;
  }
 }

